/** VARIABLES **/

@orange : #f29400;
@grey: grey;
@lightgrey: #f1f1f1;
@white: white;
@sansationRegular: 'sansationregular', sans-serif;
@sansationBold: 'sansationbold', sans-serif;
@prismaRegular: 'prismaregular', sans-serif;
@roboto: 'roboto', sans-serif;


@screen-md-max: 1100px;
@screen-xs-max: 450px;


/** ********* **/

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.txt{
    &-orange {
        color: @orange !important;
    }

    &-grey {
        color: #505050 !important;
    }
}

.centerDiv {
    width: 1000px;
    margin: auto;

    @media (max-width: @screen-md-max) {
        width: 100%;
    }
}

#landing {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8)), url('../imgs/background.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    @media (max-width: @screen-md-max) {
        position: static;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border-bottom: 5px solid @orange;
    }

    #title {
        font-size: 80px;
        margin: 10px 10px 10px 60px;
        font-family: @sansationRegular, sans-serif;
        font-weight: normal;
        color: white;

        @media (max-width: @screen-md-max) {
            margin: 20px 10px;
            font-size: 65px;
        }

        @media (max-width: @screen-xs-max) {
            margin: 20px 10px;
            font-size: 45px;
        }
    }

    nav {
        height: 100%;
        width: 35%;
        position: relative;

        @media (max-width: @screen-md-max) {
            width: 100%;
            height: auto;
        }

        ul {
            padding: 0;
            margin: 0;
            text-align: right;
            list-style-type: none;
            position: relative;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 100%;

            li a {
                background: @white;
                color: @orange;
                font-family: @sansationRegular, sans-serif;
                text-decoration: none;
                display: inline-block;
                padding: 5px 20px;
                margin: 10px 0;
                font-size: 35px;
                text-transform: uppercase;
                transition: all .5s ease;

                @media (max-width: @screen-xs-max) {
                    font-size: 15px;
                }

                &:hover{
                    padding-right: 35px;
                }
            }
        }

        &:before{
            content: "";
            position: absolute;
            right: -250px;
            top: -40vh;
            background: @orange;
            z-index: -2;

            width: 800px;
            height: 200vh;
            transform: rotateZ(35deg);
        }

        &:after {
            content: "";
            position: absolute;
            right: -250px;
            top: -40vh;
            opacity: 0.2;
            background-image: url('../imgs/LogoAEE-Negatif-1000.png');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 80%;
            z-index: -1;

            width: 800px;
            height: 200vh;
        }
    }
}

/*********/

#wrapper.homepage {
    position: absolute;
    top: 100vh;
    width: 100%;

    & > header {
        @media (max-width: @screen-md-max) {
            display: none;
        }
    }

    & > #presentation {
        height: 75vh;
        background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8)), url('../imgs/ploumanach.jpg');
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: @screen-md-max) {
            height: auto;
        }


        .bx-wrapper {
            border: none;
            background: transparent;
            box-shadow: none;
            margin-bottom: 0 !important;

            @media (max-width: @screen-md-max) {
                margin-bottom: 0;
            }
        }

        .bx-pager {
            position: relative;
            top: -50px;
        }

        .bx-controls-direction a {
            z-index: 49 !important;
        }

        .slider {
            background: transparent;


            div.slide {
                background: transparent;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                @media (max-width: @screen-md-max) {
                    height: auto;
                    flex-direction: column;
                    width: 100%;
                }


                .round-image {
                    min-width: 500px;
                    min-height: 500px;
                    border: 7px solid @orange;
                    border-radius: 1000px;
                    background-size: cover;

                    @media (max-width: @screen-md-max) {
                        min-width: 200px;
                        min-height: 200px;
                        margin-top: 20px;
                    }

                    &+div {
                        width: 800px;
                        margin: 40px;

                        @media (max-width: @screen-md-max) {
                            width: 100%;
                            text-align: center;
                        }

                        h2 {
                            color: @orange;
                            font-family: @sansationRegular;
                            font-size: 35px;
                        }

                        p {
                            color: white;
                            font-family: Georgia, 'Droid serif', serif;
                            font-size: 22px;
                            line-height: 1.5em;
                            padding: 5px;
                        }

                        a.button-like {
                            @height: 35px;
                            display: block;
                            border: 3px solid @orange;
                            width: 140px;
                            height: @height;
                            line-height: @height;
                            color: white;
                            font-family: @sansationRegular;
                            text-decoration: none;
                            text-align: center;
                            background: transparent;
                            transition: background .3s ease;

                            @media (max-width: @screen-md-max) {
                                margin: 0 auto;
                            }

                            &:hover {
                                background: @orange;
                            }
                        }
                    }
                }
            }
        }

    }
    & > #actus {
        background: #f1f1f1;
        padding-top: 30px;
        h2 {
            margin: 0;
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 30px;
            font-family: @prismaRegular;
            font-weight: normal;
            color: @orange;

            @media (max-width: @screen-md-max) {
                font-size: 40px;
            }
        }
        article {
            display: inline-block;
            position: relative;
            border: 7px solid @lightgrey;
            border-radius: 1px;
            box-sizing: border-box;
            width: calc(100% / 4);

            @media (max-width: @screen-md-max) {
                width: calc(100% / 3);
            }

            @media (max-width: @screen-xs-max) {
                width: calc(100% / 2);
            }

            &:nth-child(3n) {
                color: @orange;
                background: @white;
            }
            &:nth-child(3n+1) {
                color: @white;
                background: @orange;
            }
            &:nth-child(3n+2) {
                color: @orange;
                background: #e5e5e5;
            }
            .flag {
                position: absolute;
                left: 0;
                top: 25px;
                width: 70px;
                line-height: 25px;
                padding: 0 2px;
                text-align: center;
                height: 25px;
                font-size: 15px;
                font-family: @sansationRegular;
                color: @white;
            }
            .flag-red {
                background: #e74c3c;
            }
            .flag-green {
                background: #2ecc71;
            }
            img {
                width: 100%;
            }
            a {
                color: inherit;
                text-decoration: none;
            }
            p {
                margin: 0;
                font-size: 25px;
                padding: 4px 10px;
                font-family: @roboto;
                font-weight: 300;
            }
            span.date {
                text-align: right;
                width: 97%;
                display: inline-block;
                padding: 8px 5px 5px 2px;
                font-size: 12px;
                font-family: @sansationRegular;
            }
        }
        .centerDiv {

            @media (max-width: @screen-md-max) {
                width: auto;
            }

            .buttons {
                text-align: center;
            }
            a.more-actus {
                display: inline-block;
                border: 2px solid @orange;
                box-sizing: border-box;
                width: 45%;
                height: 45px;
                text-align: center;
                text-decoration: none;
                color: @orange;
                line-height: 45px;
                font-family: @sansationRegular;
                font-size: 20px;
                margin: 10px 0 20px 0;
                transition: all .5s ease;
                &:hover {
                    background: @orange;
                    color: @white;
                }

                @media (max-width: @screen-md-max) {
                    display: block;
                    width: 90%;
                    margin: 10px auto;
                }
            }
        }
    }
    & > #contact {
        background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0.8), rgba(55, 55, 55, 0.8)), url('../imgs/ploumanach.jpg');
        background-size: cover;
        padding: 20px 0;
        .centerDiv {
            display: flex;
            flex-direction: row;
            & > div {
                width: 50%;
            }

            @media (max-width: @screen-md-max) {
                flex-direction: column;

                & > div {
                    width: 100%;
                }
            }

        }
        h2 {
            font-family: @sansationRegular;
            color: @white;
        }
        .form {

            @media (max-width: @screen-md-max) {
                text-align: center;
            }

            input {
                display: block;
            }
            input[type=text] {
                margin: 10px 0;
                border: 3px solid @orange;
                height: 35px;
                padding: 4px;
            }
            input[type=email] {
                margin: 10px 0;
                border: 3px solid @orange;
                height: 35px;
                padding: 4px;
            }
            textarea {
                margin: 10px 0;
                border: 3px solid @orange;
            }

            input[type=text], input[type=email], textarea {
                font-family: @sansationRegular;
                width: 400px;

                @media (max-width: @screen-md-max) {
                    width: 90%;
                    margin: 10px auto;
                    box-sizing: border-box;
                }
            }

            input[type=submit] {
                height: 35px;
                padding: 4px;
                background: white;
                border: 3px solid @orange;
                color: @orange;
                padding: 2px 10px;
                font-family: @sansationRegular;
                transition: all .5s ease;

                @media (max-width: @screen-md-max) {
                    width: 90%;
                    margin: auto;
                }

                &:hover {
                    background: @orange;
                    color: @white;
                }
            }
        }
    }
}

@import "categories";
@import "articles";
@import "clubs";
@import "club";
@import "login";
@import "grid-articles";
@import "menu";
